<script>
    $(document).ready(function() {
        $('.tab-left table.highchart').highchartTable();
        $('.tab-left table.highchart-tab').highchartTable();
         
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1><i class="icon-dashboard"></i> Dashboard</h1>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><span class="glyphicon glyphicon-home">  </span><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>
    <div class="row">   
        <div class="portlet box cyan">
            <div class="portlet-title">
                <div class="title"><img src="{$BASEURL}/resource/themes/dmis_themes/default/img/tracking.png" title="Tracking"> Overview</div>
                <div class="actions">
                </div>
            </div>
            <div class="over">
                <div class="break"></div>
                <div class="tab-left">
                    <table class="highchart table-data" data-graph-type="column" data-graph-container=".. .. .highchart-container">
                        <caption style="font-weight: bold; padding-top: 10px; padding-bottom: 20px; font-size: 14px;">Birth and ID Card Process on 23 July 2014</caption>
                        <thead>
                            <tr>
                                <th>Process</th>
                                <th>BC</th>
                                <th>ID</th>
                                <th>GD</th>
                                <th>MR</th>
                                <th>DV</th>
                                <th>AD</th>
                                <th>NT</th>
                                <th>DH</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FO</td>
                                <td>2</td>
                                <td>5</td>
                                <td>2</td>
                                <td>7</td>
                                <td>5</td>
                                <td>9</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>BO</td>
                                <td>5</td>
                                <td>9</td>
                                <td>2</td>
                                <td>1</td>
                                <td>5</td>
                                <td>2</td>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>HOD</td>
                                <td>9</td>
                                <td>3</td>
                                <td>1</td>
                                <td>5</td>
                                <td>2</td>
                                <td>7</td>
                                <td>5</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>PR</td>
                                <td>1</td>
                                <td>3</td>
                                <td>9</td>
                                <td>4</td>
                                <td>1</td>
                                <td>5</td>
                                <td>2</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>TK</td>
                                <td>9</td>
                                <td>1</td>
                                <td>1</td>
                                <td>5</td>
                                <td>2</td>
                                <td>5</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-data">
                        <thead>
                            <tr>
                                <th>No </th>
                                <th>Code </th>
                                <th>Information </th>
                            </tr>
                        </thead>
                        <tr>
                            <td>1 </td>
                            <td>BC </td>
                            <td> Birth Certificate</td>
                        </tr>
                        <tr>
                            <td>2 </td>
                            <td>ID </td>
                            <td>Identification ID Card</td>
                        </tr>
                        <tr>
                            <td>3 </td>
                            <td>GD </td>
                            <td> Good Conduct</td>
                        </tr>
                        <tr>
                            <td>4 </td>
                            <td>MR </td>
                            <td> Married Certificate</td>
                        </tr>
                        <tr>
                            <td>5 </td>
                            <td>DV </td>
                            <td> Divorce Certificate</td>
                        </tr>
                        <tr>
                            <td>6 </td>
                            <td>AD </td>
                            <td> Adoption Certificate</td>
                        </tr>
                        <tr>
                            <td>7 </td>
                            <td>NT </td>
                            <td> Natinality </td>
                        </tr>
                        <tr>
                            <td>8 </td>
                            <td>DH</td>
                            <td> Death Letter</td>
                        </tr>
                    </table>
                </div>
                <div class="highchart-container tab-right">
                    <table class="highchart table" data-graph-container-before="1" data-graph-type="column">
                    </table>
                </div>
            </div>
            
            <div class="over">
                <div class="break"></div>
                <div class="tab-left">
                    <table class="highchart table-data" data-graph-type="column" data-graph-container=".. .. .highchart-container">
                        <caption style="font-weight: bold; padding-top: 10px; padding-bottom: 20px; font-size: 14px;">DNRN Registered Activities on July 2014</caption>
                        <thead>
                            <tr>
                                <th>Part of Process</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Birth Certificate</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>ID card</td>
                                <td>67</td>
                            </tr>
                            <tr>
                                <td>Married</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Good Conduct</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Adoption</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Divorce</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Death</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="highchart-container tab-right">
                    <table class="highchart table" data-graph-container-before="1" data-graph-type="column">
                    </table>
                </div>
            </div>
        </div>
    </div>
