<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header pull-left">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="breadcrum">
                <ol class="breadcrumb">
                    <li>Account Settings</li>
                    <li class="active">Change Password</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="row">  
        <div class="col-md-12">
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="title">Change Password</div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" action="{$config->site_url('pengaturan/editprofile/process_change_password')}" method="post">
                        <table class="table table-form">
                            <tr>
                                <td width='20%'><label class="control-label">Username</label></td>
                                <td><label class="control-label">:</label></td>
                                <td width='80%'><label class="control-label">
                                        <input type="hidden" name="USER_NAME_OLD" value="{$result.USER_NAME|default:''}" />
                                        <input type="text" name="USER_NAME" value="{$result.USER_NAME|default:''}" size="25" maxlength="30" class="form-control input-sm" size="60" placeholder="username" readonly="readonly"/>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Old Password</label></td>
                                <td><label class="control-label">:</label></td>
                                <td><label class="control-label">
                                        <input type="password" name="USER_PASS_OLD" value="{$result.USER_PASS_OLD|default:''}" size="25" maxlength="30" class="form-control input-sm" size="60" placeholder="Old Password"/>
                                        <span class="required"> *)</span>
                                    </label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">New Password</label></td>
                                <td><label class="control-label">:</label></td>
                                <td><label class="control-label">
                                        <input type="password" name="USER_PASS_NEW" value="{$result.USER_PASS_NEW|default:''}" size="25" maxlength="30" class="form-control input-sm" size="60" placeholder="New Password"/>
                                        <span class="required"> *)</span>
                                    </label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Confirm New Password</label></td>
                                <td><label class="control-label">:</label></td>
                                <td><label class="control-label">
                                        <input type="password" name="USER_PASS_CONFIRM" value="{$result.USER_PASS_CONFIRM|default:''}" size="25" maxlength="30" class="form-control input-sm" size="60" placeholder="Confirm New Password"/>
                                        <span class="required"> *)</span>
                                    </label></td>
                            </tr>

                            <tr>
                                <td><label class="control-label"></label></td>
                                <td><label class="control-label"></label></td>
                                <td>
                                    <div class="btn-toolbar">
                                        <button type="reset" class="btn btn-red" value="reset">Reset</button>
                                        <button type="submit" class="btn btn-blue" value="submit">Save</button>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>