<html lang="en" class="no-js"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{$page.NAV_TITLE|default:'Home'} - {$site.SITE_TITLE|default:''}</title>
        <link href="{$BASEURL}resource/doc/images/shortcut_icon.jpg" rel="SHORTCUT ICON" />
        <!--<link href="{$BASEURL}resource/themes/dmis_themes/default/css/certificate.css" type="text/css" rel="stylesheet" media="screen"/>-->
        <!-- Javacript -->
        {$LOAD_JAVASCRIPT}
    </head>
    {include file="$template_content"}
</html>
