<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Users</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="">System</a></li>
                <li><a href="">Privileges</a></li>
                <li><a href="{$config->site_url('sys_admin/users')}">Users</a></li>
                <li class="active">Add</li>
            </ol>
        </div>
    </div>
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="row">  
        <div class="col-md-12">
            <div class="portlet box cyan">
                <div class="portlet-title">
                    <div class="title">Add Personal User</div>
                    <div class="actions" onclick="">
                        <div class="btn-group">
                            <a href="{$config->site_url('sys_admin/users')}" class="btn btn-default dropdown-toggle">
                                List User
                            </a>
                        </div>
                    </div>  
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" action="{$config->site_url('sys_admin/users/process_add')}" method="post" enctype="multipart/form-data">
                        <table class="table table-form" width="100%" border="0">
                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align: left;">User Account</th>
                                </tr>
                            </thead>
                            <tr>
                                <td width="20%"><label class="control-label">Username</label></td>
                                <td width="5%"><label class="control-label"> : </label></td>
                                <td width="75%">
                                    <input name="USER_NAME_OLD" type="hidden" size="50" value="{$result.USER_NAME|default:''}">
                                    <input type="text" name="USER_NAME" value="{$result.USER_NAME|default:''}" size="25" maxlength="30" class="form-control input-sm"  placeholder="Username"/>
                                    <span class="required">* required</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Password</label></td>
                                <td><label class="control-label"> : </label></td>
                                <td>
                                    <input type="password" name="USER_PASS" value="{$result.USER_PASS|default:''}" size="25" maxlength="30" class="form-control input-sm"  placeholder="Password"/>
                                    <span class="required">* required</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Role Access</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <select name="ROLE_ID">
                                        <option></option>
                                        {foreach from=$rs_role item=role}
                                        <option value="{$role.ROLE_ID}" {if {$result.ROLE_ID|default:''} eq $role.ROLE_ID}selected="selected"{/if}>{$role.ROLE_NM|default:''}</option>
                                        {/foreach}
                                    </select> <span class="required">* required</span>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="control-label">District Work</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <select name="USER_DISTRICT">
                                        <option></option>
                                        {foreach from=$rs_district item=district}
                                        <option value="{$district.REGION_CD}" {if {$result.USER_DISTRICT|default:''} eq $district.REGION_CD}selected="selected"{/if}>{$district.REGION_NAME|default:''}</option>
                                        {/foreach}
                                    </select> <span class="required">* required</span>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="control-label">National</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input class="check-item" type="checkbox" name="NATIONAL_ST" value="1" {if {$result.NATIONAL_ST|default:''} eq 1}checked{/if} /><span class="required">* only for national purpose</span>
                                </td>
                            </tr>

                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align: left;">Personal Data</th>
                                </tr>
                            </thead>

                            <tr>
                                <td><label class="control-label">Full Name</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input class="form-control input-sm" placeholder="Full Name" name="FULL_NAME" type="text" value="{$result.FULL_NAME|default:''}" size="45" maxlength="50" />
                                    <span class="required">* required</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Employee ID</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input class="form-control input-sm" placeholder="Employee ID" name="EMPLOYEE_ID" type="text" value="{$result.EMPLOYEE_ID|default:''}" size="20" maxlength="30" />
                                    <!--<span class="required">* required</span>-->
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">ID Card</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input class="form-control input-sm" placeholder="ID Card" name="IDCARD_NO" type="text" value="{$result.IDCARD_NO|default:''}" size="17" maxlength="17" />
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Email</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input name="USER_EMAIL_OLD" type="hidden" size="50" value="{$result.USER_EMAIL|default:''}">
                                    <input class="form-control input-sm" placeholder="Email" name="USER_EMAIL" type="text" value="{$result.USER_EMAIL|default:''}" size="30" maxlength="50" />
                                    <!--<span class="required">* required</span>-->
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Phone Number</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <input class="form-control input-sm" placeholder="Phone Number" name="PHONE_NUMBER" type="text" value="{$result.PHONE_NUMBER|default:''}" size="20" maxlength="30" />
                                    <!--                                    <span class="required">* required</span>-->
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Photo</label></td>
                                <td><label class="control-label">:</label></td>
                                <td>
                                    <img src="{$BASEURL}resource/doc/images/users/default.png" alt="" style="height: 120px; border: 1px solid #999; background-color: #fff; padding: 5px;" />
                                    <input type="file" name="user_img" class="btn btn-default"/>
                                    <em>Max size 1024 x 768 px</em>
                                </td>
                            </tr>
                            <tr>
                            </tr>

                            <tr>
                                <td><label class="control-label"></label></td>
                                <td><label class="control-label"></label></td>
                                <td>
                                    <div class="btn-toolbar">
                                        <input type="reset" name="save[reset]" value="Reset" class="btn btn-red" />
                                        <input type="submit" name="save[insert]" value="Save" class="btn btn-blue" />                                    </div>
                                </td>
                            </tr>

                        </table>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>					
</div>